<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.edu.mmit.quiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="Androidx"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory,android:hardwareAccelerated">
        <activity
            android:name=".MainActivity"
            android:label="Quiz"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".second_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigation_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Board"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectOpt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bookmarks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Finish"
            android:screenOrientation="portrait" />
        <activity android:name=".TestSeries"></activity>
    </application>

</manifest>