<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.edu.mmit.quiz">

    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="Androidx"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory,android:hardwareAccelerated">
        <activity android:name=".Test_Papers"           android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:label="MMIT Mock CET"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".second_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigation_menu"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"

            />
        <activity
            android:name=".Board"
            android:hardwareAccelerated="true"

            android:screenOrientation="portrait" />

        <activity
            android:name=".SubjectOpt"
            android:hardwareAccelerated="true"

            android:screenOrientation="portrait" />
        <activity
            android:name=".test"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"

            />
        <activity
            android:name=".Bookmarks"
            android:hardwareAccelerated="true"

            android:screenOrientation="portrait" />
        <activity
            android:name=".Finish"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"

            />
        <activity
            android:name=".TestSeries"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"

            />
        <activity
            android:name=".Bookmark_layout"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".video"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
    </application>

</manifest>